@charset "utf-8";
body
{
	background-image: url(contact.jpg);
	background-repeat: no;
	background-size: cover;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	opacity : 0.69;
	position : absolute ;
	left : 1000px;
	top : 10px;
	width : 115px;
	height : 256px;
	filter: alpha(opacity=69) progid:DXImageTransform.Microsoft.Alpha(opacity=69) ;
}

.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 440px;
	top : 150px;
	width : 108px;
	height : 108px;
}

.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 640px;
	top : 150px;
	width : 108px;
	height : 108px;
}

.image10
{
	background-image : url(image10.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 740px;
	top : 150px;
	width : 108px;
	height : 108px;
}

.image11
{
	background-image : url(image11.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 540px;
	top : 150px;
	width : 108px;
	height : 108px;
}

.h3{
	line-height: 1;
	margin-bottom: 4rem;
}


p{
	margin-top: 80px;
}

.form-control{
	width: 50%;
	float: right;
	margin-right: 340px;
}

.container{
	padding-left: 220px;
	padding-top: 200px;
}

button{
	margin-right: 10px;
	margin-top: 30px;
	margin-left: 115px;
	margin-bottom: 50px;

}
