@charset "utf-8";
	.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1066px;
	top : 253px;
	width : 19px;
	height : 18px;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 330px;
	top : 248px;
	width : 94px;
	height : 28px;
}
.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 431px;
	top : 249px;
	width : 71px;
	height : 27px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 125px;
	top : 248px;
	width : 57px;
	height : 28px;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 256px;
	top : 248px;
	width : 66px;
	height : 28px;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 509px;
	top : 248px;
	width : 81px;
	height : 28px;
}
.st0
{
	background : #666666;
	background : rgba(102, 102, 102, 1);
	opacity : 0.81;
	position : absolute ;
	left : 795px;
	top : 244px;
	width : 296px;
	height : 34px;
	border-radius : 6px;
	-moz-border-radius : 6px;
	-webkit-border-radius : 6px;
	filter: alpha(opacity=81) progid:DXImageTransform.Microsoft.Alpha(opacity=81) ;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 598px;
	top : 248px;
	width : 82px;
	height : 27px;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 659px;
	top : 212px;
	width : 293px;
	height : 97px;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 191px;
	top : 249px;
	width : 57px;
	height : 27px;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 8px;
	top : 224px;
	width : 113px;
	height : 74px;
}
.st1
{
	background : #39B54A;
	background : rgba(57, 181, 74, 1);
	position : absolute ;
	left : 337px;
	top : 354px;
	width : 9px;
	height : 22px;
}
.st2
{
	border-style : Solid;
	border-color : #666666;
	border-color : rgba(102, 102, 102, 1);
	border-width : 2px;
	position : absolute ;
	left : 247px;
	top : 307px;
	width : 101px;
	height : 0px;
}
.st3
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	position : absolute ;
	left : 191px;
	top : 421px;
	width : 140px;
	height : 26px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
.st4
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	position : absolute ;
	left : 0px;
	top : 212px;
	width : 1109px;
	height : 94px;
}
.st5
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	position : absolute ;
	left : 191px;
	top : 386px;
	width : 140px;
	height : 26px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
.st6
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	position : absolute ;
	left : 189px;
	top : 352px;
	width : 141px;
	height : 26px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
.st7
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	position : absolute ;
	left : 179px;
	top : 307px;
	width : 178px;
	height : 148px;
	border-radius : 7px 6px 6px 7px;
	-moz-border-radius : 7px 6px 6px 7px;
	-webkit-border-radius : 7px 6px 6px 7px;
}
.st8
{
	background : #39B54A;
	background : rgba(57, 181, 74, 1);
	position : absolute ;
	left : 538px;
	top : 292px;
	width : 22px;
	height : 9px;
}
.st9
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	position : absolute ;
	left : 189px;
	top : 317px;
	width : 141px;
	height : 26px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Myriad Pro;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
